
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>
<label class="field-validation-error">@TempData["Failed"]</label>
<label class="field-validation-error" style="color:forestgreen !important">@TempData["Success"]</label>
